<html>
<head>
   <title>Multiplayer Set Login Page</title>
</head>
<body>
   <h1>Multiplayer Set Login Page</h1>
   <p>{message}</p>
   <form action="" method="post">
   Username: <input type="text" name="username" /><br/>
   Password: <input type="password" name="password" /><br/>
   <input type="submit" value="Go" /><br/>
   </form>
   <a href="registration_page">or register here</a>
   <br/>
   <p>Please send comments, complaints, bug reports, etc to my email. You probably know what my email is.</p>
</body>
</html>
