<html>
   <head>
      <title>Multiplayer Set Game More Statistics</title>

      <script src="jquery.js"></script>

      <link rel="stylesheet" type="text/css" href="structure.css">
      <link rel="stylesheet" type="text/css" href="button.css">
      <link rel="stylesheet" type="text/css" href="prettytable.css">
   </head>
   <body>
      {>navbar}

      <div id="main">

      <h1>More Statistics</h1>

      {>group_selector}

      <p>Once I get around to writing documentation for the statistics
      framework, anyone will be able to git clone it and write their own
      statistics. (Mostly in Python, but you need some JavaScript for the
      clientside display).</p>

      <p>Here are some ideas for statistics that I or someone else could
      eventually write:
      <ul>
         <li>Time to pickup: How long between the time a set appears on the
         board and the time the player picks it up? We could plot this as a
         function of different properties of the set (eg, monochromaticity). We
         could also plot this as a function of time of day. Maybe there are even
         more interesting things we could plot this as a function of.</li>
      </ul>
      </p>

      </div>
   </body>
</html>
