<div id='navbar'>
<ul>
   <li><a>Play</a></li>
   <ul> 
      <li><a href="/">The Lobby</a></li>
      <li><a href="speed_solve.html">Solitaire</a></li>
   </ul>
   <li><a>Statistics</a></li>
   <ul>
      <li><a href="heat_map.html">Heat Map</a></li>
      <li><a href="coefficients.html">Coefficients</a></li>
      <li><a href="more_stats.html">More Statistics!</a></li>
   </ul>
   <li><a>Logs</a></li>
   <ul>
      <li><a href="game_history.html">Game History</a></li>
      <li><a href="games_dump_instructions.html">Games Dump</a></li>
   </ul>
   <li><a>Help</a></li>
   <ul>
      <li><a href="instructions.html">Set Instructions</a></li>
   </ul>
   <li><a>Account</a></li>
   <ul>
      <li><a href="settings.html">Settings</a></li>
      <li><a href="logout">Log Out</a></li>
   </ul>
</ul>

</div>
