<html>
<head>
   <title>Multiplayer Set Registration Page</title>
</head>
<body>
   <h1>Multiplayer Set Registration Page</h1>

   <p>{message}</p>
   <form action="register" method="post">
   Username: <input type="text" name="username"/> (You may only use letters,
   numbers, underscores, and dots)<br/>
   Email: <input type="text" name="email" /> (For password resets, if you want
   them)<br/><br/>
   Password: <input type="password" name="password" /> (At least 5 characters)<br/>
   Again: <input type="password" name="password2" /><br/>
   <input type="submit" value="Register" /><br/>
   </form>

</body>
</html>
